<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Just a basic kanban board functionality</p>
</section>

<section class="row" style="align-items: center; justify-content: center;">
  <p>Lets get you to the board <a style="margin-left: 10px;" href={"/boards/#{@board.id}"}> Click here </a></p>
</section>
